* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    font-style: normal;
    background-color: #1F1F1F;
    color: #FFFFFF;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin: 20px 30px;
}

.logo {
    
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;

}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 80vw;
}

.menu input {
    background-color: #262626;
    color: rgba(255, 255, 255, 0.2);
    border: none;
    flex-grow: 1;
    padding: 20px;
    border-radius: 15px;
}

.menu button {
    background-color: #262626;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 33px;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
}

.about {
    background: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: 0px 59px;
}

.description {
    display: flex;
    justify-content: space-between;
}

.list {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}

.list div {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

div span {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin: 0 20px;
    color: #C4C4C4;
}

.clock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.clock button {
    align-self: center;
    background: #FECB03;
    color: black;
    border: none;
    border-radius: 50px;
    width: 169.44px;
    height: 58px;
    margin-right: 17px;
    margin-bottom: 20px;
}

h3 {
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    margin-bottom: 76px;
    margin-left: 105px;
}

.cardGroup {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    width: 346.44px;
    height: 391px;
    border: 3px solid #262626;
    border-radius: 20px;
    margin-bottom: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h5 {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    margin-top: 36px;
    margin-left: 26px;
    color: #C4C4C4;
}

h5+p {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin-left: 26px;
    margin-top: 16px;

    color: rgba(255, 255, 255, 0.8);
}

div button {
    background: #FECB03;
    color: black;
    border: none;
    border-radius: 50px;
    width: 169.44px;
    height: 58px;
    margin-right: 17px;
    margin-bottom: 20px;
    align-self: flex-end;
}

.flex-box {
    margin: 76px 61px 35px 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    padding: 43px;
    background: #262626;
    border-radius: 30px;
}

.flex-items {
    display: flex;
    flex-direction: column;
}

.flex-items h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.flex-items a {
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.desci {
    flex-grow: 3;
    width: 35%;
    margin-right: 70px;
}

.site {
    flex-grow: 2;
}

.social {
    flex-grow: 2;
}
